
<p><%=@admin_user %>,</p>


<table>
  <tr><td>email</td><td><%= @admin_email %></td></tr>
  <tr><td>company name</td><td><%= @company_name %></td></tr>
  <tr><td>course name</td><td><%= @course_name %></td></tr>
  <tr><td>Dept</td><td><%= @department_name %></td></tr>
  <tr><td>file data</td><td><%= @file_data %></td></tr>
  <tr><td>file name</td><td><%= @file_name %></td></tr>
</table>
