<div class="middle">
<div class="about_cen">

<div class = "about1">
<h1>Prepcloud</h1>
<%= image_tag("bell_curve.png", :alt => "", :class => "") %><br /><br />
<p>was founded because LSAT preparation is often expensive and inconvenient.  This is an app that allows you to practice the LSAT online with real LSAT questions, receive instant feedback for both correct and incorrect answer choices, and understand your strengths and weaknesses.  You can play free logic puzzles to help build the skills you'll need.  We're the only LSAT prep company that offers tutoring by the hour, so you don't have to purchase bulk tutoring packages at high prices.  By concentrating only on the LSAT, you won't feel like you're competing with other graduate students for our attention.</p> 

</div>

<div class = "about2">
<%= image_tag("multiple_choice.png", :alt => "", :class => "") %><br />
<p><h1>Take</h1><br /><br />quizzes and tests online and get instant answer explanations written by our tutors.  Our assessments are timed and structured to simulate actual test-taking conditions.  Feedback is emailed to you with an analysis of your strengths and weaknesses.</p>
</div>

<div class = "about1">
<h1>Practice</h1>
<%= image_tag("feedback.png", :alt => "", :class => "") %><br /><br /><br />
<p>from at home and save your work in the cloud.  No ridiculous, bulk tutoring-packages required.  No driving to the nearest big city only to drive home with more questions than answers and no one to turn to for help.  Out tutors can be reached by phone, email, or chat.</p> 
</div>

<div class = "about2">
<p><h1>Our</h1><br /><br /><br />higher score guarantee means that if you don't show progress, we'll issue you a full refund.* So, like a personal injury attorney, we only get paid if you win!  Check out the <%= link_to "FAQ", faq_path %> page for more info, <%= link_to "contact", contact_us_path %> us with questions, comments, and feedback, or subscribe to our <%= link_to "newsletter", coming_soon_path, :rel => "facebox" %>.<p>
</div>

</div>
</div>

