<div class="row">
<div class="span8">
<h3>Sign in with PrepCloud</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div><%= f.label :email %><br /><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br /><br />
  <%= f.password_field :password %></div><br />

<% if devise_mapping.rememberable? -%>
 <ul class="inputs-list">
   <li>
     <label>

        <%= f.check_box :remember_me %> <span><%= f.label :remember_me %></span> <br /><br />

     </label>
   </li>
 </ul>
<% end -%>
  <div class = "btn"><%= f.submit "Sign in" %></div>
<% end %>


<%= render :partial => "devise/shared/links" %>

</div>
<div class="span6">
</div>

<h3>Or through a provider</h3><br />

<div class ='fb_connect'><a><% facebooks = image_tag("fb-login-button.png", :alt => "login with facebook") %></a>
	<%= link_to facebooks, user_omniauth_authorize_path(:facebook) %><br /><br /></div>
	
	<a><% facebooks = image_tag("google_logo.png", :alt => "login with google") %></a>
  <%= link_to facebooks, user_omniauth_authorize_path(:google) %><br /><br /><br />

<a><% yahoos = image_tag("yahoo.png", :alt => "login with yahoo") %></a>
  <%= link_to yahoos, user_omniauth_authorize_path(:yahoo, :openid_url => "https://me.yahoo.com") %>
	
	</div>
