<div class="row">
      <div class="span10">
        <h2>View results from which puzzle?</h2><br />
        <ul class="media-grid">

        <li>
          <a href="/puzzle1_show" style="background:#0D2424;">
            <%= image_tag("Chess_pawn2.png")%>
          </a>
        </li>

        <li>
          <a href="/quarterback_show" style="background:#0D2424;">
            <%= image_tag("Chess_bishop2.png")%>
          </a>
        </li>
        <li>
          <a href="/puzzle2_show" style="background:#0D2424;">
            <%= image_tag("Chess_knight2.png")%>
          </a>
        </li>
        <li>
          <a href="/puzzle3_show" style="background:#0D2424;">
            <%= image_tag("Chess_king2.png")%>
          </a>
        </li>

      </ul>
       </div>
              
        <%= render 'shared/user_right_column' %>
       </div>
